In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

D:\Anaconda\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
dt=pd.read_csv('Project1-DataSet-Pakistan Largest Ecommerce Dataset.csv')
dt

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Customer ID,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,...,discount_amount,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY
0,1.0,211131,complete,07/01/2016,kreations_YI 06-L,1950.0,1,1950.0,100147443,Women's Fashion,...,0.0,cod,07/01/2016,#REF!,"1,950",2016,7,2016-7,Jul-16,FY17
1,2.0,211133,canceled,07/01/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1,240.0,100147444,Beauty & Grooming,...,0.0,cod,07/01/2016,Gross,240,2016,7,2016-7,Jul-16,FY17
2,3.0,211134,canceled,07/01/2016,Ego_UP0017-999-MR0,2450.0,1,2450.0,100147445,Women's Fashion,...,0.0,cod,07/01/2016,Gross,"2,450",2016,7,2016-7,Jul-16,FY17
3,4.0,211135,complete,07/01/2016,kcc_krone deal,360.0,1,60.0,100147446,Beauty & Grooming,...,300.0,cod,07/01/2016,Net,360,2016,7,2016-7,Jul-16,FY17
4,5.0,211136,order_refunded,07/01/2016,BK7010400AG,555.0,2,1110.0,100147447,Soghaat,...,0.0,cod,07/01/2016,Valid,"1,110",2016,7,2016-7,Jul-16,FY17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,115320.0,905204,cod,8/28/2018,WOFSCE5AE00357AECDE,699.0,1,849.0,100562385,Women's Fashion,...,0.0,cod,8/28/2018,Valid,699,2018,8,2018-8,Aug-18,FY19
584520,115326.0,905205,processing,8/28/2018,MATHUA5AF70A7D1E50A,35599.0,1,35899.0,100562386,Mobiles & Tablets,...,0.0,bankalfalah,8/28/2018,Gross,"35,599",2018,8,2018-8,Aug-18,FY19
584521,113474.0,905206,processing,8/28/2018,MATSAM5B6D7208C6D30,129999.0,2,652178.0,100562387,Mobiles & Tablets,...,0.0,bankalfalah,8/28/2018,Gross,"259,998",2018,8,2018-7,Aug-18,FY19
584522,113474.0,905207,processing,8/28/2018,MATSAM5B1509B4696EA,87300.0,2,652178.0,100562387,Mobiles & Tablets,...,0.0,bankalfalah,8/28/2018,Gross,"174,600",2018,8,2018-7,Aug-18,FY19
584523,113474.0,905208,processing,8/28/2018,MATSAM5B10F91A9B6AB,108640.0,2,652178.0,100562387,Mobiles & Tablets,...,0.0,bankalfalah,8/28/2018,Gross,"217,280",2018,8,2018-7,Aug-18,FY19

In [3]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584524 entries, 0 to 584523
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Customer ID            584513 non-null  float64
 1   item_id                584524 non-null  int64
 2   status                 584509 non-null  object
 3   created_at             584524 non-null  object
 4   sku                    584504 non-null  object
 5   price                  584524 non-null  float64
 6   qty_ordered            584524 non-null  int64
 7   grand_total            584524 non-null  float64
 8   increment_id           584524 non-null  object
 9   category_name_1        584360 non-null  object
 10  sales_commission_code  447349 non-null  object
 11  discount_amount        584524 non-null  float64
 12  payment_method         584524 non-null  object
 13  Working Date           584524 non-null  object
 14  BI Status              584524 non-null  object
 15   MV                    584524 non-null  object
 16  Year                   584524 non-null  int64
 17  Month                  584524 non-null  int64
 18  Customer Since         584513 non-null  object
 19  M-Y                    584524 non-null  object
 20  FY                     584524 non-null  object
dtypes: float64(4), int64(4), object(13)
memory usage: 93.7+ MB

In [4]:
dt.isnull()

,Customer ID,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,...,discount_amount,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
584520,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
584521,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
584522,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
584523,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [5]:
dt.isnull().sum()

Customer ID                  11
item_id                       0
status                       15
created_at                    0
sku                          20
price                         0
qty_ordered                   0
grand_total                   0
increment_id                  0
category_name_1             164
sales_commission_code    137175
discount_amount               0
payment_method                0
Working Date                  0
BI Status                     0
 MV                           0
Year                          0
Month                         0
Customer Since               11
M-Y                           0
FY                            0
dtype: int64